<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">編輯</h3>
            <form action="/procedures/<%= result[0] %>?_method=PUT" method="post">
                <% if (errors.length > 0) { %>
                    <% for(var i = 0; i < errors.length; i++) { %>
                        <div class="alert alert-danger mb-15" role="alert">
                            <%= errors[i].msg %>
                        </div>
                    <% } %>
                <% } %>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Name" name="name" value="<%if (inputs.length > 0) { %><%= inputs[0].name %><% }else{ %><%= result[1] %><% } %>" required autofocus>
                    <label for="inputUsername">Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Description" name="description" value="<%if (inputs.length > 0) { %><%= inputs[0].description %><% }else{ %><%= result[2] %><% } %>" required>
                    <label for="inputUsername">Description</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Cost" name="cost" value="<%if (inputs.length > 0) { %><%= inputs[0].cost %><% }else{ %><%= result[3] %><% } %>" required>
                    <label for="inputUsername">Cost</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">提交</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>