<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">編輯帳戶</h3>
            <form action="/users/<%= result[0] %>?_method=PUT" method="post">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-15" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" value="<%if (inputs.length > 0) { %><%= inputs[0].email %><% }else{ %><%= result[1] %><% } %>" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" value="<%if (inputs.length > 0) { %><%= inputs[0].username %><% }else{ %><%= result[2] %><% } %>" required>
                    <label for="inputUsername">Username</label>
                </div>

                <div class="form-label-group">
                    <textarea id="inputDescription" class="form-control" placeholder="Bio" name="description" rows="5" required><%if (inputs.length > 0) { %><%= inputs[0].description %><% }else{ %><%= result[3] %><% } %></textarea>
                </div>

                <!--<div class="form-label-group">-->
                    <!--<div class="mb-5">Profile image</div>-->
                    <!--<input type="file" class="form-control-file" name="file" accept="image/*" required>-->
                <!--</div>-->

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">提交</button>
            </form>
    </div>
</div>
</div>

<% include ../partials/footer %>